<?xml version="1.0"?>

<model>
    <name>apriltag_4</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    
    <author>
        <name>Diego Cesar</name>
        <email>diego.cesar@fieb.org.br</email>
    </author>
    
    <description>
        Fiducial marker developed by the April Laboratories (https://april.eecs.umich.edu/wiki/index.php/AprilTags)
    </description>
</model>