<?xml version="1.0"?>

<model>
  <name>reflectors</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Rômulo Cerqueira</name>
    <email>romulo.cerqueira@fieb.org.br</email>
  </author>

  <description>
    Reflectors used to validate some sonar algorithms (e.g. sonar servoing)
  </description>
</model>
