<?xml version="1.0"?>

<model>
    <name>chessboard</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>TIago Trocoli</name>
        <email>trocolit@gmail.com</email>
    </author>

    <description>
      Chessboard with 10 columns and 7 rows for camera calibrarion
    </description>
</model>
